body{
    background-color: #ffffff;
    margin-left: 50px;
}

header {
    font-family:'Oswald', sans-serif;
    font-size: 25px;
    border: 2px solid black;
    max-width: 700px;
    background-color: black;
    color: white;
}

h1, h3 {
    padding-left: 10px;
}

p {
    font-family: 'Source Serif Pro', serif;
    color: #2f3542;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
 }

p:last-child {
    font-size: 15px; 
    background-color: black;
    color: #ffffff;   
}

.text-box {
    border: 2px solid black;
    max-width: 700px;
}

@media (max-width: 768px) {
    body {
        margin-left: 5px;
    }

    p {
        padding-right: 10px;
    }
}